extends layout

block content
  .box
    dl
      .container
        .data-item
          .row
            .col-sm-3
              dt Username
            .col-sm-9
              dd #{username}
        .data-item
          .row
            .col-sm-3
              dt Email
            .col-sm-9
              dd #{email}
        .data-item
          .row
            .col-sm-3
              dt Password
            .col-sm-9
              dd &bull; &bull; &bull; &bull; &bull;
