doctype html(lang='en')
html(lang='en')
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Hind+Vadodara:300,400')
  link(rel='stylesheet', href='stylesheets/reset.css')
  link(rel='stylesheet', href='stylesheets/bootstrap-grid.css')
  link(rel='stylesheet', href='stylesheets/style.css')
  title Chat
body
  include navbar
  
  div.container
    block content
