extends layout

block content
  .content
    .container
      .form-container
        form.form(method='POST' action='/register')
          legend Register
          input(type='text', placeholder='Username', name='username', required)
          input(type='email', placeholder='Email', name='email', required)
          input(type='password', placeholder='Password', name='password', required)
          input(type='password', placeholder='Confirm password', name='confirm', required)
          input(type='submit', role='button', value='Register')
        footer.form-footer
          p
            | Already have an account? 
            a(href='/login') Log in
